element {
  --bg-desktop: url(/public/img/hero-imgs/Rectangle\ 10.webp);
  --bg-tablet: url(/public/img/hero-imgs/tablet-image.webp);
  --bg-mobile: url(/public/img/hero-imgs/mobile-homepage.webp);
}

.heroBg {
  background-image: url(/public/img/hero-imgs/Rectangle\ 10.webp);
}
@media (max-width: 800px) {
  .heroBg {
    background-image: url(/public/img/hero-imgs/tablet-image.webp);
  }
}
.heroBg {
  height: 670px;
}
.heroBg {
  background-position: 50%;
  background-repeat: no-repeat;
  /* background-size: 118%; */
  background-size: cover;
  height: 670px;
  position: absolute;
  top: 0;
  width: 100%;
}
.hero-module__hero--fxGmC {
  height: 670px;
}
@media (max-width: 480px) {
  .heroBg {
    background-image: url(/public/img/hero-imgs/mobile-homepage.webp);
  }
  .hero-module__hero--fxGmC {
    height: 520px !important;
  }
  .heroBg {
    height: 520px !important;
  }
}
.hero-module__hero--fxGmC {
  line-height: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 670px;
}
.hero-module__hero--fxGmC .hero-module__heroContent--x5Q7B {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-module__hero--fxGmC .hero-module__heroTitle--pRQaT {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 50px;
  margin: 0;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}
.hero-module__hero--fxGmC h1,
.hero-module__hero--fxGmC h2 {
  line-height: initial;
}
.order-1 {
  order: 1 !important;
}
.hero-module__hero--fxGmC .hero-module__heroSubtitle--i-cGv {
  font-family: "Nunito";
  font-weight: 400;
  color: #fff;
  font-size: 24px;
  margin: 0;
  margin-top: 23px;
  margin-left: 10px;
  margin-right: 10px;
}
@media (max-width: 800px) {
  .hero-module__hero--fxGmC .hero-module__heroTitle--pRQaT {
    font-size: 36px;
  }
}
.hero-module__hero--fxGmC h2 {
  line-height: initial;
}
.order-2 {
  order: 2 !important;
}
.mt-\[20px\] {
  margin-top: 20px !important;
}
.mr-\[10px\] {
  margin-right: 10px !important;
}
.ml-\[10px\] {
  margin-left: 10px !important;
}
.order-3 {
  order: 3 !important;
}

.style-module__wrapper--7jJ94.style-module__open--k2jZl
  .style-module__content--UlhVY.style-module__noBorder--b9CgM {
  border: 1px solid rgba(0, 0, 0, 0);
}
.button-module__wrapper--jJ7g9 {
  font-size: 16px;
  font-family: Inter;
  font-weight: bold;
  line-height: 32px;
  color: unset;
  text-decoration: unset;
  border: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  padding: 10px 24px;
  transition: 0.3s;
  cursor: pointer;
}
.hero-module__hero--fxGmC .hero-module__heroCta--8TpOf {
  height: 52px;
  width: 285px;
  font-size: 16px !important;
  font-family: "Noto Sans" !important;
  border-radius: 25px;
  font-weight: 700;
}
.button-module__wrapper--jJ7g9.button-module__contained--zXwYo {
  color: #fff;
  background-color: #ff9100;
}
.button-module__wrapper--jJ7g9.button-module__contained--zXwYo:hover {
  background-color: #ffa836;
}
.hero-module__hero--fxGmC .hero-module__searchbarWrapper--Z0IvD {
  width: 100%;
}

.hero-module__hero--fxGmC .hero-module__searchbarWrapper--Z0IvD {
  margin-top: 40px;
  padding: 5px !important;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
}

.max-w-\[clamp\(0px\,calc\(100vw_-_20px\)\,1070px\)\] {
  max-width: clamp(0px, calc(100vw - 20px), 1070px) !important;
}
.order-4 {
  order: 4 !important;
}

/* Small screen order */
.button-order {
  order: 3 !important;
}
.search-order {
  order: 4 !important;
}
@media (max-width: 640px) {
  .button-order {
    order: 4 !important;
  }
  .search-order {
    order: 3 !important;
  }

  .hero-module__hero--fxGmC .hero-module__searchbarWrapper--Z0IvD {
    margin-top: 10px;
  }
}

/* Trust pilot review */
.bg-white {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity)) !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.justify-center {
  justify-content: center !important;
}
.items-center {
  align-items: center !important;
}
.w-full {
  width: 100% !important;
}
.h-\[65px\] {
  height: 65px !important;
}
.flex {
  display: flex !important;
}
.trustpilot-module__wrapper--rTgiM {
  display: flex;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}
.trustpilot-module__wrapper--rTgiM .trustpilot-module__linkDiv--sTp39 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.trustpilot-module__wrapper--rTgiM
  .trustpilot-module__linkDiv--sTp39
  > .trustpilot-module__item--GouFp {
  padding: 0.75rem;
}
@media (max-width: 700px) {
  .trustpilot-module__wrapper--rTgiM
    .trustpilot-module__linkDiv--sTp39
    > .trustpilot-module__item--GouFp {
    padding: 0.25rem;
  }
}
@media (max-width: 470px) {
  .trustpilot-module__trustImage--JcJz0 {
    width: 100px;
  }
}
@media (max-width: 470px) {
  .trustpilot-module__starsImage--7b3Fe {
    width: 100px;
  }
}
.h-8 {
  height: 2rem !important;
}
.font-nunito {
  font-family: Nunito, sans-serif !important;
}

/* Partners */
.root-spotted-by-inner {
  padding: 0 !important;
  height: 100px !important;
  background-color: rgb(241 250 245/1) !important;
  display: flex !important;
  justify-content: center !important;
}
@media (max-width: 768px) {
  .root-spotted-by-inner {
    padding-bottom: 2.75rem !important;
    padding-top: 2.75rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    height: 100% !important;
  }
}
.root-spotted-by-inner-inner {
  display: flex !important;
  align-items: center !important;
  column-gap: 4rem !important;
}
@media (max-width: 768px) {
  .root-spotted-by-inner-inner {
    column-gap: 2rem !important;
  }
}
.spotted-by-text-part {
  background-color: rgb(39 174 96/1) !important;
  border-radius: 9999px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  rotate: -25deg !important;
  text-align: center;
  color: #fff;
  font-weight: 700 !important;
  font-family: Nunito, sans-serif !important;

  min-width: 120px !important;
  width: 120px !important;
  min-height: 120px !important;
  height: 120px !important;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}
@media (max-width: 768px) {
  .spotted-by-text-part {
    min-width: 90px !important;
    width: 90px !important;
    min-height: 90px !important;
    height: 90px !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
  }
}
.spotted-by-image-part {
  display: flex !important;
  row-gap: 1rem !important;
  align-items: center !important;
  flex-direction: row !important;
  column-gap: 4rem !important;
}
@media (max-width: 768px) {
  .spotted-by-image-part {
    flex-direction: column !important;
    column-gap: 2rem !important;
  }
}
.sportted-by-image-part-inner {
  display: flex !important;
  align-items: center !important;
}
@media (min-width: 768px) {
  .sportted-by-image-part-inner {
    column-gap: 4rem !important;
  }
}
.sportted-by-image-part-inner {
  column-gap: 2rem !important;
}
.object-cover {
  object-fit: cover !important;
}

/* Customer best breed */
.favorite-breeds-module__wrapper--7M\+J3 {
  margin-top: 50px;
  position: relative;
  margin-bottom: 40px;
}
.favorite-breeds-module__wrapper--7M\+J3 .favorite-breeds-module__title--fkU9E {
  font-family: Nunito;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 5px;
}
.favorite-breeds-module__wrapper--7M\+J3
  .favorite-breeds-module__subtitle--NOOAw {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 30px;
}

/* Why Puppyspot */
.styles-module__container--CCD9B {
  margin: 40px auto;
  padding: 0 50px;
  padding-bottom: 70px !important;
}
.styles-module__container--CCD9B .styles-module__title--lW8PU {
  color: #000;
  font-family: Nunito;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
  margin-bottom: 40px;
}
@media (max-width: 800px) {
  .styles-module__container--CCD9B .styles-module__title--lW8PU {
    font-size: 28px;
  }
}
.styles-module__container--CCD9B .styles-module__cardsContainer--NzIp7 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  text-align: center;
}
.styles-module__container--CCD9B .styles-module__card--D5UVp {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 calc(25% - 40px);
}
@media (min-width: 767px) {
  .styles-module__container--CCD9B .styles-module__card--D5UVp {
    max-width: 215px;
  }
}
.styles-module__container--CCD9B .styles-module__buttonIcon--aT7sj {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.styles-module__container--CCD9B .styles-module__cardTitle--uTDQy {
  color: #333;
  font-family: Nunito;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 8px;
  max-width: 200px;
  text-align: center;
}

.styles-module__container--CCD9B .styles-module__cardDescription--SZBTD {
  color: #333;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
  max-width: 215px;
  text-align: center;
}
/* Slider dot customization */
.slick-dots {
  bottom: -45px !important;
}
.slick-dots li {
  margin: 0 !important; /* Remove the default margin */
  padding: 0; /* Remove any padding, if necessary */
}

/* Responsiveness */
#big-screen-why-us {
  display: flex;
}
#small-screen-why-us {
  display: none;
}
@media (max-width: 767px) {
  #big-screen-why-us {
    display: none;
  }
  #small-screen-why-us {
    display: block;
  }
}

/* Trusted by community */

.trusted-by-community-module__wrapper--0Kxj- {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 70px;
  margin-left: 150px;
}
.trusted-by-community-module__sectionLeft--Jg8fx {
  max-width: 654px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1250px) and (min-width: 1024px) {
  .trusted-by-community-module__sectionLeft--Jg8fx {
    margin-right: 150px;
  }
}
@media (max-width: 1250px) {
  @media not all and (min-width: 1024px) {
    .trusted-by-community-module__sectionLeft--Jg8fx {
      margin-right: 100px;
    }
  }
}
@media (max-width: 1250px) {
  @media not all and (min-width: 768px) {
    .trusted-by-community-module__sectionLeft--Jg8fx {
      margin-right: 20px;
    }
  }
}
@media (max-width: 1250px) {
  .trusted-by-community-module__sectionLeft--Jg8fx {
    max-width: unset;
  }
}
@media (max-width: 1024px) {
  .trusted-by-community-module__wrapper--0Kxj- {
    margin-left: 100px;
  }
}
@media (max-width: 768px) {
  .trusted-by-community-module__wrapper--0Kxj- {
    margin-left: 20px;
  }
}

.trusted-by-community-module__sectionLeft--Jg8fx
  .trusted-by-community-module__title--b4Rre {
  color: #000;
  font-size: 36px;
  font-family: Nunito;
  font-weight: 700;
  margin: 0;
  margin-top: 10px;
  order: 0;
}
.trusted-by-community-module__sectionLeft--Jg8fx h3 {
  letter-spacing: unset;
  line-height: unset;
}
.trusted-by-community-module__sectionLeft--Jg8fx
  .trusted-by-community-module__text--t6baY {
  color: #000;
  font-size: 20px;
  font-family: Inter;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 5px;
  order: 0;
}
@media (max-width: 1250px) {
  .trusted-by-community-module__sectionLeft--Jg8fx {
    max-width: unset;
  }
  .trusted-by-community-module__sectionLeft--Jg8fx
    .trusted-by-community-module__text--t6baY {
    order: 1;
    margin-top: 20px;
  }
  .trusted-by-community-module__sectionLeft--Jg8fx
    .trusted-by-community-module__title--b4Rre {
    text-align: center;
    margin: 0 auto;
  }
  .trusted-by-community-module__sectionLeft--Jg8fx
    .trusted-by-community-module__titleImage--148v6 {
    text-align: center;
    margin: 0 auto;
  }
  .trusted-by-community-module__wrapper--0Kxj- {
    flex-direction: column;
  }
}

.trusted-by-community-module__sectionLeft--Jg8fx
  .trusted-by-community-module__boxGreen--hTMmj {
  border-radius: 10px;
  border: 2px solid #66af37;
  background-color: rgba(37, 44, 33, 0.102);
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  order: 0;
  margin-top: 30px;
}
.trusted-by-community-module__wrapperButtons--ItUX-.first {
  display: flex;
}
.trusted-by-community-module__wrapperButtons--ItUX-.second {
  display: none;
}
@media (max-width: 1250px) {
  .trusted-by-community-module__sectionLeft--Jg8fx
    .trusted-by-community-module__boxGreen--hTMmj {
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 20px;
  }
  .trusted-by-community-module__wrapperButtons--ItUX-.first {
    display: none;
  }
  .trusted-by-community-module__wrapperButtons--ItUX-.second {
    margin-top: 20px;
    display: flex;
  }
  .trusted-by-community-module__sectionRight--zkUIU {
    width: 100% !important;
    margin-top: 20px;
  }
}
.trusted-by-community-module__sectionLeft--Jg8fx
  .trusted-by-community-module__boxGreen--hTMmj
  .trusted-by-community-module__label--GvukA {
  color: #000;
  font-size: 16px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 28px;
}
.trusted-by-community-module__sectionLeft--Jg8fx
  .trusted-by-community-module__boxGreen--hTMmj
  .trusted-by-community-module__label--GvukA
  .trusted-by-community-module__highlight--Sjvw8 {
  color: #ff9100;
  font-weight: 700;
}
.trusted-by-community-module__wrapperButtons--ItUX- {
  margin-top: 30px;
  order: 0;
  flex-wrap: nowrap;
}

.trusted-by-community-module__wrapperButtons--ItUX-
  .trusted-by-community-module__flexRow--EOUTG {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -7.5px;
}
@media (max-width: 550px) {
  .trusted-by-community-module__wrapperButtons--ItUX-
    .trusted-by-community-module__flexRow--EOUTG {
    flex-direction: column;
  }
}
.trusted-by-community-module__wrapperButtons--ItUX-
  .trusted-by-community-module__flexRow--EOUTG
  > .trusted-by-community-module__flexItem--InltY {
  padding: 7.5px;
}
.trusted-by-community-module__wrapperButtons--ItUX-
  .trusted-by-community-module__flexRow--EOUTG
  > .trusted-by-community-module__flexItem--InltY
  a {
  min-width: 210px;
}
.button-module__wrapper--jJ7g9.button-module__contained--zXwYo {
  color: #fff;
  background-color: #ff9100;
}
.trusted-by-community-module__wrapperButtons--ItUX-
  .trusted-by-community-module__flexRow--EOUTG
  > .trusted-by-community-module__flexItem--InltY {
  padding: 7.5px;
}
.trusted-by-community-module__wrapperButtons--ItUX-
  .trusted-by-community-module__flexRow--EOUTG
  > .trusted-by-community-module__flexItem--InltY
  a {
  min-width: 210px;
}
.button-module__wrapper--jJ7g9.button-module__outlined--dnOJw {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}
.button-module__wrapper--jJ7g9 {
  font-size: 16px;
  font-family: Inter;
  font-weight: bold;
  line-height: 32px;
  text-decoration: unset;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  padding: 10px 24px;
  transition: 0.3s;
  cursor: pointer;
}

.trusted-by-community-module__middleSection--kXg9e {
  width: 54px;
}
.trusted-by-community-module__middleSection--kXg9e {
  align-self: stretch;
  max-height: 100%;
  overflow: hidden;
  margin-right: -15px;
  padding-right: 15px;
  z-index: 3;
}
.trusted-by-community-module__middleSection--kXg9e
  .trusted-by-community-module__middleSectionMask--ao9Kc {
  box-shadow: 5px 0px 11px 0px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 100%;
  height: 100%;
}

/* Breed Quiz */
.long-module {
  background-color: #e6fffd;
  height: max-content;
  margin-top: 60px;
  padding: 4em 1em;
  width: 100%;
}
.long-module__container {
  align-items: center;
  background-color: #fff;
  border: 1px solid #66af37;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 2em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .long-module__container {
    flex-direction: row;
    height: 5em;
    justify-content: space-evenly;
  }
}

.long-module__dog {
  transform: scaleX(-1);
  width: 10em;
}

.long-module__copy {
  margin: 1em 0;
}
@media screen and (min-width: 1070px) {
  .long-module__copy {
    display: flex;
  }
}

.long-module__copy p {
  font-size: 21px;
  line-height: 35.2px;
  margin: 0;
}
@media screen and (min-width: 1070px) {
  .long-module__copy p:first-of-type {
    margin-right: 5px;
  }
}

.button.main {
  background-color: #ff9100;
  border: none;
  color: #fff;
}

.long-module__button {
  font-family: Inter, sans-serif;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .long-module__button {
    font-size: 1.25rem;
    padding: 0.3em 1.5em;
    width: auto;
  }
}

/* Puppy spotlight section */
.featured-puppies-module__wrapper--c1np1 {
  position: relative;
  margin-bottom: 50px;
  margin-top: 50px;
}
.featured-puppies-module__wrapper--c1np1
  .featured-puppies-module__title--3vIaM {
  margin: 0;
  font-family: Nunito;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

/* Puppy characteristic */
.puppy-collections-module__wrapper--XBjZ7 {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}
@media not all and (min-width: 1024px) {
  .puppy-collections-module__wrapper--XBjZ7 {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media not all and (min-width: 768px) {
  .puppy-collections-module__wrapper--XBjZ7 {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media not all and (min-width: 640px) {
  .puppy-collections-module__wrapper--XBjZ7 {
    margin-left: 10px;
    margin-right: 10px;
  }
}


@media (min-width: 1024px) {
  .puppy-collections-module__wrapper--XBjZ7 {
    margin-left: 150px;
    margin-right: 150px;
  }
}

.puppy-collections-module__wrapper--XBjZ7
  .puppy-collections-module__icon--ct\+Hp {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
}
.puppy-collections-module__wrapper--XBjZ7
  .puppy-collections-module__title--bQyDZ {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 5px;
}
.puppy-collections-module__wrapper--XBjZ7 h3 {
  margin: 0;
}

@media (max-width: 860px) {
  .puppy-collections-module__wrapper--XBjZ7
    .puppy-collections-module__subtitle--gvRzT {
    max-width: 344px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media not (min-width: 1024px) {
  .puppy-collections-module__wrapper--XBjZ7
    .puppy-collections-module__subtitle--gvRzT {
    margin-bottom: 15px;
  }
}
.puppy-collections-module__wrapper--XBjZ7
  .puppy-collections-module__subtitle--gvRzT {
  color: #000;
  text-align: center;
  font-size: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 40px;
}

.puppy-collections-module__carouselOutsideWrapper--sP7PV {
  display: flex;
  position: relative;
}
.puppy-collections-module__carouselWrapper--9nBE1 {
  max-width: 100%;
  overflow: hidden;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}
.carousel-module__wrapper--O59lP {
  touch-action: pan-y;
}

.puppy-collections-module__carouselWrapper--9nBE1
  .puppy-collections-module__carouselArrowCircleLeft--bmUIM {
  transform: rotateZ(180deg);
  left: 120px;
}
@media not all and (min-width: 1536px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleLeft--bmUIM {
    left: 100px;
  }
}
@media not all and (min-width: 1280px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleLeft--bmUIM {
    left: 80px;
  }
}
@media not all and (min-width: 1024px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleLeft--bmUIM {
    left: 60px;
  }
}
@media not all and (min-width: 768px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleLeft--bmUIM {
    left: 40px;
  }
}
@media not all and (min-width: 640px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleLeft--bmUIM {
    left: 20px;
  }
}



@media not all and (min-width: 1024px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleLeft--bmUIM,
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleRight--KpvQM {
    height: 40px;
    width: 40px;
  }
}
@media not all and (min-width: 768px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleLeft--bmUIM,
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleRight--KpvQM {
    top: calc(50% + 36px);
  }
}
@media (min-width: 768px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleLeft--bmUIM,
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleRight--KpvQM {
    top: calc(50% + 10px);
  }
}

.puppy-collections-module__carouselWrapper--9nBE1
  .puppy-collections-module__carouselArrowCircleRight--KpvQM {
  right: 120px;
}
@media not all and (min-width: 1536px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleRight--KpvQM {
    right: 100px;
  }
}
@media not all and (min-width: 1280px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleRight--KpvQM {
    right: 80px;
  }
}
@media not all and (min-width: 1024px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleRight--KpvQM {
    right: 60px;
  }
}
@media not all and (min-width: 768px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleRight--KpvQM {
    right: 40px;
  }
}
@media not all and (min-width: 640px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleRight--KpvQM {
    right: 20px;
  }
}


@media not all and (min-width: 1024px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleLeft--bmUIM,
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleRight--KpvQM {
    height: 40px;
    width: 40px;
  }
}
@media not all and (min-width: 768px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleLeft--bmUIM,
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselArrowCircleRight--KpvQM {
    top: calc(50% + 36px);
  }
}

.puppy-collections-module__carouselWrapper--9nBE1
  .puppy-collections-module__carouselArrowCircleLeft--bmUIM,
.puppy-collections-module__carouselWrapper--9nBE1
  .puppy-collections-module__carouselArrowCircleRight--KpvQM {
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1490196078);
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media not (min-width: 1024px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselContent--phAfk {
    margin: -3.5px;
  }
}
.puppy-collections-module__carouselWrapper--9nBE1
  .puppy-collections-module__carouselContent--phAfk {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin: -5px;
}
@media (max-width: 600px) {
  .carousel-module__wrapper--O59lP .carousel-module__content--qDPHs {
    margin-left: 37px !important;
  }
}
.carousel-module__wrapper--O59lP .carousel-module__content--qDPHs {
  align-items: stretch;
}

@media not (min-width: 1024px) {
  .puppy-collections-module__carouselWrapper--9nBE1
    .puppy-collections-module__carouselContent--phAfk
    .puppy-collections-module__carouselItemWrapper--mm\+9f {
    padding: 3.5px;
  }
}
.puppy-collections-module__carouselWrapper--9nBE1
  .puppy-collections-module__carouselContent--phAfk
  .puppy-collections-module__carouselItemWrapper--mm\+9f {
  text-decoration: none;
  padding: 5px;
}

.puppy-collections-module__carouselWrapper--9nBE1
  .puppy-collections-module__carouselContent--phAfk
  .puppy-collections-module__carouselItemWrapper--mm\+9f
  .puppy-collections-module__carouselItemContent--I4OXN {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid var(--ps-black-15, rgba(0, 0, 0, 0.15));
  background: #fff;
  min-width: 240px;
  height: 100%;
}

.puppy-collections-module__carouselWrapper--9nBE1
  .puppy-collections-module__carouselContent--phAfk
  .puppy-collections-module__carouselItemWrapper--mm\+9f
  .puppy-collections-module__carouselItemContent--I4OXN
  .puppy-collections-module__carouselItemImage--Mfq83 {
  margin: -1px;
  flex-grow: 1;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.puppy-collections-module__carouselWrapper--9nBE1
  .puppy-collections-module__carouselContent--phAfk
  .puppy-collections-module__carouselItemWrapper--mm\+9f
  .puppy-collections-module__carouselItemContent--I4OXN
  .puppy-collections-module__itemLabel--sZrSo {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 20px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.puppy-collections-module__carouselWrapper--9nBE1
  .puppy-collections-module__carouselContent--phAfk
  .puppy-collections-module__carouselItemWrapper--mm\+9f
  .puppy-collections-module__carouselItemContent--I4OXN
  .puppy-collections-module__itemCaret--dOkfu {
  margin-left: 10px;
}

@media (max-width: 1755px) {
  .puppy-collections-module__wrapper--XBjZ7
    .puppy-collections-module__barWrapper---b23T {
    display: unset;
  }
}
.puppy-collections-module__wrapper--XBjZ7
  .puppy-collections-module__barWrapper---b23T {
  margin-top: 20px;
}
.puppy-collections-module__wrapper--XBjZ7
  .puppy-collections-module__barWrapper---b23T
  .puppy-collections-module__outsideBar--tiwtO {
  border-top: 2px solid rgba(0, 0, 0, 0.1490196078);
  margin: 0 auto;
  position: relative;
}
.puppy-collections-module__wrapper--XBjZ7
  .puppy-collections-module__barWrapper---b23T
  .puppy-collections-module__outsideBar--tiwtO
  .puppy-collections-module__insideBar--yPSGF {
  position: absolute;
  border-top: 2px solid #66af37;
  top: -2px;
  height: 0;
  transition: all 0.3s linear;
}

@media not (min-width: 1024px) {
  .puppy-collections-module__wrapper--XBjZ7
    .root-puppy-colletion-puppy-collections-module__buttonWrapper--yfGD0 {
    margin-top: 20px;
  }
}
.puppy-collections-module__wrapper--XBjZ7
  .root-puppy-colletion-puppy-collections-module__buttonWrapper--yfGD0 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


.puppy-collections-module__wrapper--XBjZ7 .root-puppy-colletion-puppy-collections-module__buttonWrapper--yfGD0 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.puppy-collections-module__wrapper--XBjZ7 .root-puppy-colletion-puppy-collections-module__buttonWrapper--yfGD0 a {
  min-width: 210px;
}
.root-puppy-colletion-button-module__wrapper--jJ7g9.root-puppy-colletion-button-module__outlined--dnOJw {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}
.root-puppy-colletion-button-module__wrapper--jJ7g9 {
  font-size: 16px;
  font-family: Inter;
  font-weight: bold;
  line-height: 32px;
  text-decoration: unset;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  padding: 10px 24px;
  transition: .3s;
  cursor: pointer;
}


/* REact slider */
.slick-initialized .slick-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

/* New for val banner */

.mt-\[50px\] {
  margin-top: 50px !important;
}

@media not all and (min-width:1280px) {
  .max-xl\:hidden {
    display:none!important
  }
}
@media not all and (min-width:640px) {
  .max-sm\:hidden {
    display:none!important
  }
}
@media (min-width:640px) {
  .sm\:hidden {
    display:none!important
  }
}











.heroVideo {
  align-items: center;
  display: flex;
  filter: brightness(.8);
  height: 735px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%
}

@media only screen and (max-width: 480px) {
  .heroVideo {
      height:585px
  }
}

.heroVideo video {
  height: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%
}


.style-module__wrapper--home-hero--jYIia {
  border-radius: 50px;
  height: 70px;
}

.style-module__wrapper--7jJ94 {
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  display: flex
;
  justify-content: flex-end;
  font-family: "Inter", sans-serif;
  position: relative;
}


.style-module__wrapper--7jJ94{margin:0 auto;background:#fff;box-sizing:border-box;display:flex;justify-content:flex-end;font-family:"Inter",sans-serif;position:relative}.style-module__wrapper--7jJ94 input{font-family:"Inter",sans-serif;font-weight:bold;font-size:16px;background-color:#fff}.style-module__wrapper--7jJ94 input::-webkit-input-placeholder{color:rgba(0,0,0,.3764705882)}.style-module__wrapper--7jJ94 input::-moz-placeholder{color:rgba(0,0,0,.3764705882)}.style-module__wrapper--7jJ94 input::placeholder{color:rgba(0,0,0,.3764705882)}.style-module__wrapper--7jJ94 input[type=search]::-webkit-search-cancel-button{display:none}.style-module__wrapper--7jJ94 .style-module__button--uk1Kx{background-color:#219653;border:0;padding:10px;border-radius:4px;display:flex;cursor:pointer;box-shadow:0px 0px 8px 0px rgba(0,0,0,.1490196078)}.style-module__wrapper--7jJ94 .style-module__button--uk1Kx:hover{background-color:#6dc436}@media not all and (min-width: 768px){.style-module__wrapper--7jJ94 .style-module__button--uk1Kx{font-size:20px}}.style-module__wrapper--7jJ94 .style-module__searchIcon--De0gi{background-image:url(https://www.puppyspot.com/preact/./img/search-icon.svg);border:0;padding:0;background-repeat:no-repeat;background-size:contain;width:14px;height:14px;background-color:rgba(0,0,0,0);cursor:pointer}.style-module__wrapper--7jJ94 .style-module__searchIcon--De0gi.style-module__loading--GHn7h{background-image:url(https://www.puppyspot.com/preact/./img/dots-loader.svg)}.style-module__wrapper--home-hero--jYIia{border-radius:50px;height:70px}@media(max-width: 800px){.style-module__wrapper--home-hero--jYIia{height:55px}}.style-module__wrapper--home-hero--open--3Y9ZF{border-radius:35px 35px 0 0}@media(max-width: 800px){.style-module__wrapper--home-hero--open--3Y9ZF{border-radius:27px 27px 0 0}}.style-module__wrapper--home-hero--jYIia .style-module__button--uk1Kx{border-radius:100%;width:52px;height:52px;min-width:52px;min-height:52px;justify-content:center;align-items:center}@media(max-width: 800px){.style-module__wrapper--home-hero--jYIia .style-module__button--uk1Kx{width:43px;height:43px;min-width:43px;min-height:43px}}.style-module__wrapper--home-hero--jYIia .style-module__button--uk1Kx:hover{background-color:#27ae60}.style-module__wrapper--home-hero--jYIia input{padding-left:28px !important;border-radius:100%}.style-module__wrapper--home-hero--jYIia input::-webkit-input-placeholder{font-size:20px;font-weight:500}.style-module__wrapper--home-hero--jYIia input::-moz-placeholder{font-size:20px;font-weight:500}.style-module__wrapper--home-hero--jYIia input::placeholder{font-size:20px;font-weight:500}@media(max-width: 800px){.style-module__wrapper--home-hero--jYIia input::-webkit-input-placeholder{font-size:16px}.style-module__wrapper--home-hero--jYIia input::-moz-placeholder{font-size:16px}.style-module__wrapper--home-hero--jYIia input::placeholder{font-size:16px}}.style-module__wrapper--home-hero--jYIia .style-module__searchIcon--De0gi{width:24px;height:24px;background-image:url(https://www.puppyspot.com/preact/./img/search-icon-hero-video.svg)}@media(max-width: 800px){.style-module__wrapper--home-hero--jYIia .style-module__searchIcon--De0gi{width:20px;height:20px}}.style-module__content--UlhVY{flex-basis:0%;position:relative;border-radius:4px;padding:7px;display:flex;border:1px solid rgba(0,0,0,0);justify-content:flex-end;transition:flex-basis .5s}.style-module__wrapper--7jJ94.style-module__open--k2jZl .style-module__content--UlhVY{border:1px solid rgba(0,0,0,0.4509803922);flex-basis:100%}.style-module__wrapper--7jJ94.style-module__open--k2jZl .style-module__content--UlhVY.style-module__noBorder--b9CgM{border:1px solid rgba(0,0,0,0)}.style-module__content--home-hero--VItrJ{padding:5px}@media(min-width: 800px){.style-module__content--home-hero--VItrJ{padding:8px}}.style-module__reducerWrapper--UVMF-{position:relative;overflow:hidden;width:100%}.style-module__reducerWrapper--UVMF- .style-module__reducer--higDU{position:absolute;top:-5px;left:-7px;right:0;bottom:-5px}.style-module__controlWrapper--Cak4k{width:100%;height:100%;font-family:"Inter",sans-serif}.style-module__controlWrapper--Cak4k .style-module__input--8Dj0T{box-sizing:border-box;width:100%;height:100%;border:0;padding:5px 7px}.style-module__controlWrapper--Cak4k .style-module__input--8Dj0T:focus{outline:none}.style-module__menu--Xf2XU{position:absolute;max-height:300px;width:100%;bottom:-10px;left:0;transform:translateY(100%);background-color:#fff;border:1px solid rgba(0,0,0,0.4509803922);border-radius:4px;box-shadow:rgba(0,0,0,.1) 0px 0px 0px 1px,rgba(0,0,0,.1) 0px 4px 11px;z-index:20;padding:0 10px;overflow:auto;box-sizing:border-box}.style-module__menu--Xf2XU .style-module__item--tuTKJ{font-family:"Inter",sans-serif;font-size:17px;padding:.875rem 0;cursor:pointer;text-align:left}.style-module__menu--Xf2XU .style-module__item--tuTKJ:not(:last-child){border-bottom:1px solid #d8d8d8}.style-module__menu--Xf2XU .style-module__item--tuTKJ:hover{font-weight:bold}.style-module__menu--home-hero--jBhLc{border:none;border-radius:0 0 30px 30px;bottom:0;padding:0}.style-module__menu--home-hero--jBhLc .style-module__item--tuTKJ{border-bottom:none !important;padding:20px 28px 20px;font-size:18px}.style-module__menu--home-hero--jBhLc .style-module__item--tuTKJ:hover{background-color:rgba(250,250,250,.9803921569)}


.button-module__wrapper--jJ7g9 {
  font-size: 16px;
  font-family: Inter;
  font-weight: bold;
  line-height: 32px;
  color: unset;
  text-decoration: unset;
  border: 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  padding: 10px 24px;
  transition: .3s;
  cursor: pointer;
}
.button-module__wrapper--jJ7g9.button-module__outlined--dnOJw {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
.button-module__wrapper--jJ7g9.button-module__outlined--dnOJw:hover{
  background-color: transparent;
}
.hero-module__hero--fxGmC .hero-module__heroCta--8TpOf {
  height: 52px;
  min-width: 200px;
  font-size: 16px !important;
  font-family: "Inter", sans-serif !important;
  border-radius: 25px;
  font-weight: 700;
}



*,:after,:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia:
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia:
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59,130,246,.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia:
}

.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
      max-width:640px
  }
}

@media (min-width: 768px) {
  .container {
      max-width:768px
  }
}

@media (min-width: 1024px) {
  .container {
      max-width:1024px
  }
}

@media (min-width: 1280px) {
  .container {
      max-width:1280px
  }
}

@media (min-width: 1536px) {
  .container {
      max-width:1536px
  }
}

.visible {
  visibility: visible!important
}

.absolute {
  position: absolute!important
}

.relative {
  position: relative!important
}

.bottom-0 {
  bottom: 0!important
}

.right-0 {
  right: 0!important
}

.right-5 {
  right: 1.25rem!important
}

.top-1\/2 {
  top: 50%!important
}

.z-10 {
  z-index: 10!important
}

.order-1 {
  order: 1!important
}

.order-2 {
  order: 2!important
}

.order-3 {
  order: 3!important
}

.order-4 {
  order: 4!important
}

.m-0 {
  margin: 0!important
}

.mb-10 {
  margin-bottom: 2.5rem!important
}

.mb-12 {
  margin-bottom: 3rem!important
}

.mb-5 {
  margin-bottom: 1.25rem!important
}

.mb-\[25px\] {
  margin-bottom: 25px!important
}

.ml-\[10px\] {
  margin-left: 10px!important
}

.mr-\[10px\] {
  margin-right: 10px!important
}

.mt-0 {
  margin-top: 0!important
}

.mt-5 {
  margin-top: 1.25rem!important
}

.mt-7 {
  margin-top: 1.75rem!important
}

.mt-\[25px\] {
  margin-top: 25px!important
}

.mt-\[30px\] {
  margin-top: 30px!important
}

.mt-\[50\%\] {
  margin-top: 50%!important
}

.mt-\[50px\] {
  margin-top: 50px!important
}

.inline-block {
  display: inline-block!important
}

.flex {
  display: flex!important
}

.grid {
  display: grid!important
}

.hidden {
  display: none!important
}

.h-10 {
  height: 2.5rem!important
}

.h-44 {
  height: 11rem!important
}

.h-6 {
  height: 1.5rem!important
}

.h-8 {
  height: 2rem!important
}

.h-\[50px\] {
  height: 50px!important
}

.h-\[52px\] {
  height: 52px!important
}

.h-\[65px\] {
  height: 65px!important
}

.h-\[90px\] {
  height: 90px!important
}

.h-fit {
  height: -webkit-fit-content!important;
  height: -moz-fit-content!important;
  height: fit-content!important
}

.h-full {
  height: 100%!important
}

.min-h-\[90px\] {
  min-height: 90px!important
}

.w-6 {
  width: 1.5rem!important
}

.w-\[209px\] {
  width: 209px!important
}

.w-\[50px\] {
  width: 50px!important
}

.w-\[90px\] {
  width: 90px!important
}

.w-fit {
  width: -webkit-fit-content!important;
  width: -moz-fit-content!important;
  width: fit-content!important
}

.w-full {
  width: 100%!important
}

.min-w-\[90px\] {
  min-width: 90px!important
}

.max-w-7xl {
  max-width: 80rem!important
}

.max-w-\[clamp\(0px\2c calc\(100vw_-_20px\)\2c 1070px\)\] {
  max-width: clamp(0px,calc(100vw - 20px),1070px)!important
}

.max-w-md {
  max-width: 28rem!important
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%!important
}

.-rotate-90,.-translate-y-1\/2 {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important
}

.-rotate-90 {
  --tw-rotate: -90deg!important
}

.-rotate-\[25deg\] {
  --tw-rotate: -25deg!important
}

.-rotate-\[25deg\],.transform {
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))!important
}

.cursor-pointer {
  cursor: pointer!important
}

.resize {
  resize: both!important
}

.list-disc {
  list-style-type: disc!important
}

.flex-col {
  flex-direction: column!important
}

.flex-wrap {
  flex-wrap: wrap!important
}

.items-start {
  align-items: flex-start!important
}

.items-end {
  align-items: flex-end!important
}

.items-center {
  align-items: center!important
}

.justify-start {
  justify-content: flex-start!important
}

.justify-end {
  justify-content: flex-end!important
}

.justify-center {
  justify-content: center!important
}

.gap-2 {
  gap: .5rem!important
}

.gap-3 {
  gap: .75rem!important
}

.gap-4 {
  gap: 1rem!important
}

.gap-5 {
  gap: 1.25rem!important
}

.gap-6 {
  gap: 1.5rem!important
}

.gap-7 {
  gap: 1.75rem!important
}

.gap-\[10px\] {
  gap: 10px!important
}

.gap-x-6 {
  -moz-column-gap: 1.5rem!important;
  column-gap: 1.5rem!important
}

.gap-x-8 {
  -moz-column-gap: 2rem!important;
  column-gap: 2rem!important
}

.gap-y-4 {
  row-gap: 1rem!important
}

.overflow-hidden {
  overflow: hidden!important
}

.overflow-visible {
  overflow: visible!important
}

.whitespace-normal {
  white-space: normal!important
}

.rounded-3xl {
  border-radius: 1.5rem!important
}

.rounded-full {
  border-radius: 9999px!important
}

.rounded-lg {
  border-radius: .5rem!important
}

.rounded-sm {
  border-radius: .125rem!important
}

.border {
  border-width: 1px!important
}

.border-2 {
  border-width: 2px!important
}

.border-t {
  border-top-width: 1px!important
}

.border-solid {
  border-style: solid!important
}

.border-none {
  border-style: none!important
}

.border-\[\#DCDCDC\] {
  border-color: rgb(220 220 220/var(--tw-border-opacity))!important
}

.border-\[\#DCDCDC\],.border-black {
  --tw-border-opacity: 1!important
}

.border-black {
  border-color: rgb(0 0 0/var(--tw-border-opacity))!important
}

.border-green-01,.border-ps-green-01 {
  --tw-border-opacity: 1!important;
  border-color: rgb(33 150 83/var(--tw-border-opacity))!important
}

.border-t-\[\#dcdcdc\] {
  --tw-border-opacity: 1!important;
  border-top-color: rgb(220 220 220/var(--tw-border-opacity))!important
}

.border-t-gray-05 {
  --tw-border-opacity: 1!important;
  border-top-color: rgb(224 224 224/var(--tw-border-opacity))!important
}

.bg-\[\#27ae60\] {
  --tw-bg-opacity: 1!important;
  background-color: rgb(39 174 96/var(--tw-bg-opacity))!important
}

.bg-\[\#B8EAF8\] {
  --tw-bg-opacity: 1!important;
  background-color: rgb(184 234 248/var(--tw-bg-opacity))!important
}

.bg-\[\#EAF8FF\] {
  --tw-bg-opacity: 1!important;
  background-color: rgb(234 248 255/var(--tw-bg-opacity))!important
}

.bg-\[\#F1FAF5\] {
  --tw-bg-opacity: 1!important;
  background-color: rgb(241 250 245/var(--tw-bg-opacity))!important
}

.bg-\[\#FAFAFA\] {
  --tw-bg-opacity: 1!important;
  background-color: rgb(250 250 250/var(--tw-bg-opacity))!important
}

.bg-\[\#FFFFFF\] {
  --tw-bg-opacity: 1!important;
  background-color: rgb(255 255 255/var(--tw-bg-opacity))!important
}

.bg-ps-green-01 {
  background-color: rgb(33 150 83/var(--tw-bg-opacity))!important
}

.bg-ps-green-01,.bg-ps-green-02 {
  --tw-bg-opacity: 1!important
}

.bg-ps-green-02 {
  background-color: rgb(39 174 96/var(--tw-bg-opacity))!important
}

.bg-transparent {
  background-color: transparent!important
}

.bg-white {
  --tw-bg-opacity: 1!important;
  background-color: rgb(255 255 255/var(--tw-bg-opacity))!important
}

.bg-contain {
  background-size: contain!important
}

.bg-cover {
  background-size: cover!important
}

.bg-center {
  background-position: 50%!important
}

.bg-left-bottom {
  background-position: 0 100%!important
}

.bg-top {
  background-position: top!important
}

.bg-no-repeat {
  background-repeat: no-repeat!important
}

.bg-repeat-x {
  background-repeat: repeat-x!important
}

.object-cover {
  -o-object-fit: cover!important;
  object-fit: cover!important
}

.p-0 {
  padding: 0!important
}

.p-5 {
  padding: 1.25rem!important
}

.p-6 {
  padding: 1.5rem!important
}

.px-0 {
  padding-left: 0!important;
  padding-right: 0!important
}

.px-5 {
  padding-left: 1.25rem!important;
  padding-right: 1.25rem!important
}

.px-6 {
  padding-left: 1.5rem!important;
  padding-right: 1.5rem!important
}

.py-11 {
  padding-bottom: 2.75rem!important;
  padding-top: 2.75rem!important
}

.py-2 {
  padding-bottom: .5rem!important;
  padding-top: .5rem!important
}

.py-3 {
  padding-bottom: .75rem!important;
  padding-top: .75rem!important
}

.py-4 {
  padding-bottom: 1rem!important;
  padding-top: 1rem!important
}

.py-5 {
  padding-bottom: 1.25rem!important;
  padding-top: 1.25rem!important
}

.pb-4 {
  padding-bottom: 1rem!important
}

.pb-5 {
  padding-bottom: 1.25rem!important
}

.pl-5 {
  padding-left: 1.25rem!important
}

.pt-0 {
  padding-top: 0!important
}

.pt-10 {
  padding-top: 2.5rem!important
}

.text-left {
  text-align: left!important
}

.text-center {
  text-align: center!important
}

.\!font-nunito {
  font-family: Nunito,sans-serif!important
}

.font-inter {
  font-family: Inter,sans-serif!important
}

.font-nunito {
  font-family: Nunito,sans-serif!important
}

.text-\[5px\] {
  font-size: 5px!important
}

.text-base {
  font-size: 1rem!important;
  line-height: 1.5rem!important
}

.text-sm {
  font-size: .875rem!important;
  line-height: 1.25rem!important
}

.text-xl {
  font-size: 1.25rem!important;
  line-height: 1.75rem!important
}

.text-xs {
  font-size: .75rem!important;
  line-height: 1rem!important
}

.\!font-bold,.font-bold {
  font-weight: 700!important
}

.font-extrabold {
  font-weight: 800!important
}

.font-normal {
  font-weight: 400!important
}

.font-semibold {
  font-weight: 600!important
}

.leading-6 {
  line-height: 1.5rem!important
}

.leading-normal {
  line-height: 1.5!important
}

.\!text-gray-02,.text-\[\#4F4F4F\] {
  --tw-text-opacity: 1!important;
  color: rgb(79 79 79/var(--tw-text-opacity))!important
}

.text-\[\#828282\] {
  color: rgb(130 130 130/var(--tw-text-opacity))!important
}

.text-\[\#828282\],.text-black {
  --tw-text-opacity: 1!important
}

.text-black {
  color: rgb(0 0 0/var(--tw-text-opacity))!important
}

.text-gray-01 {
  color: rgb(51 51 51/var(--tw-text-opacity))!important
}

.text-gray-01,.text-gray-02 {
  --tw-text-opacity: 1!important
}

.text-gray-02 {
  color: rgb(79 79 79/var(--tw-text-opacity))!important
}

.text-gray-03 {
  color: rgb(130 130 130/var(--tw-text-opacity))!important
}

.text-gray-03,.text-white {
  --tw-text-opacity: 1!important
}

.text-white {
  color: rgb(255 255 255/var(--tw-text-opacity))!important
}

.underline {
  -webkit-text-decoration-line: underline!important;
  text-decoration-line: underline!important
}

.underline-offset-4 {
  text-underline-offset: 4px!important
}

.outline {
  outline-style: solid!important
}

.blur {
  --tw-blur: blur(8px)!important
}

.blur,.filter {
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)!important;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)!important
}

.\[border-top-style\:solid\] {
  border-top-style: solid
}

.hover\:bg-black\/10:hover {
  background-color: rgba(0,0,0,.1)!important
}

.hover\:bg-ps-green-06:hover {
  --tw-bg-opacity: 1!important;
  background-color: rgb(55 161 100/var(--tw-bg-opacity))!important
}

.hover\:bg-transparent:hover {
  background-color: transparent!important
}

.hover\:text-white:hover {
  --tw-text-opacity: 1!important;
  color: rgb(255 255 255/var(--tw-text-opacity))!important
}

@media not all and (min-width: 1280px) {
  .max-xl\:hidden {
      display:none!important
  }
}

@media not all and (min-width: 640px) {
  .max-sm\:hidden {
      display:none!important
  }
}

@media (min-width: 640px) {
  .sm\:hidden {
      display:none!important
  }
}

@media (min-width: 768px) {
  .md\:block {
      display:block!important
  }

  .md\:hidden {
      display: none!important
  }

  .md\:h-\[100px\] {
      height: 100px!important
  }

  .md\:h-\[120px\] {
      height: 120px!important
  }

  .md\:min-h-\[120px\] {
      min-height: 120px!important
  }

  .md\:w-\[120px\] {
      width: 120px!important
  }

  .md\:min-w-\[120px\] {
      min-width: 120px!important
  }

  .md\:flex-row {
      flex-direction: row!important
  }

  .md\:gap-x-16 {
      -moz-column-gap: 4rem!important;
      column-gap: 4rem!important
  }

  .md\:p-0 {
      padding: 0!important
  }

  .md\:text-base {
      font-size: 1rem!important;
      line-height: 1.5rem!important
  }
}

@media (min-width: 1024px) {
  .lg\:ml-auto {
      margin-left:auto!important
  }

  .lg\:block {
      display: block!important
  }

  .lg\:flex {
      display: flex!important
  }

  .lg\:hidden {
      display: none!important
  }

  .lg\:w-\[261px\] {
      width: 261px!important
  }

  .lg\:max-w-\[22rem\] {
      max-width: 22rem!important
  }

  .lg\:flex-row {
      flex-direction: row!important
  }

  .lg\:flex-wrap {
      flex-wrap: wrap!important
  }

  .lg\:items-center {
      align-items: center!important
  }

  .lg\:justify-between {
      justify-content: space-between!important
  }

  .lg\:gap-4 {
      gap: 1rem!important
  }

  .lg\:gap-8 {
      gap: 2rem!important
  }

  .lg\:gap-\[10px\] {
      gap: 10px!important
  }

  .lg\:border-b-0 {
      border-bottom-width: 0!important
  }

  .lg\:px-28 {
      padding-left: 7rem!important;
      padding-right: 7rem!important
  }

  .lg\:pt-8 {
      padding-top: 2rem!important
  }
}

@media (min-width: 1280px) {
  .xl\:hidden {
      display:none!important
  }

  .xl\:max-w-md {
      max-width: 28rem!important
  }

  .xl\:gap-24 {
      gap: 6rem!important
  }
}

@media (min-width: 1540px) {
  .min-\[1540px\]\:mt-5 {
      margin-top:1.25rem!important
  }
}

.\[\&_li\]\:list-none li {
  list-style-type: none!important
}

@media (min-width: 1024px) {
  .lg\:\[\&_li\]\:max-w-\[160px\] li {
      max-width:160px!important
  }
}

@media (min-width: 1280px) {
  .xl\:\[\&_li\]\:max-w-\[172px\] li {
      max-width:172px!important
  }
}
